$blue: #89CFF0;
$darkBlue: #3b6978;
$green: #B5EAD7;
$darkGreen: #3e6a5a;
$lavender: #C7B2DE;
$darkLavender: #6c5b7b;
$red: #F08080;
$darkRed: #7b3e3e;

$grey: #D3D3D3;
$warm: #A1887F;
$background: #eae3e1;
$text-color: #282c34;
$link-color: #4a3b35;

$boxshadow: 1px 1px 5px 0 $text-color;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playpen+Sans:wght@400;500;700&display=swap');

