@use 'sass:math';
@use 'sass:list';
@import 'variables';


* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}




.heroText {
  padding: 0 2rem;

  margin-top: -1rem;

  h1 {
    font-size: 4rem;
    text-align: left;
    font-family: 'Caveat', cursive;
  }

  h2 {
    text-align: left;
    font-size: 1.2rem;

  }

  button {
    margin-top: 1rem;

  }
}

p {
  font-size: 1rem;
  color: $text-color;
  font-family: 'Nunito', sans-serif;
}



a:hover {
  color: $text-color;
}

a {
  color: $link-color;
}



input {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 4px;
  width: auto;
}

.btn {
  color: $text-color;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  a {
    text-decoration: none;
  }

  &.secondary {
    background-color: $blue;
    border-bottom: solid 2px transparent;

    &:hover {
      border-bottom: solid 2px $blueDarker;
    }

    &:active {
      border-bottom: solid 2px $blueDarker;
    }
  }

  &.primary {
    background-color: $blueDarker;
    color: $white;
    border-bottom: solid 2px transparent;

    &:hover {
      border-bottom: solid 2px $blue;
    }

    &:active {
      border-bottom: solid 2px $blue;
    }
  }

  &:hover,
  &:hover a {
    scale: 1.02;
  }



  &:active {
    scale: 0.95;
  }

}



h2 {
  font-size: 1.6rem;
}

strong {
  font-weight: bold;
}

.card {
  padding: 1rem;
  height: auto;
  border-radius: 10px;
  background-color: $white;
}

.bgWhite {
  background-color: $white;
}



th {
  font-weight: bold;
}

table {
  width: 100%;

  td {

    ul {
      list-style: none;
    }
  }

}

#notice {
  color: darkred;
  text-align: center;
}

// button:disabled {
//   background-color: $grey;
//   color: white;
//   cursor: not-allowed;

//   &:hover {
//     background-color: $grey;
//     scale: 1;
//   }
// }

.center {
  text-align: center;

}

.purchase {
  ul {
    list-style: none;
  }

  tbody td {
    padding-bottom: 1rem;
  }
}

table.cart {
  text-align: center;
  width: 100%;
  border-collapse: collapse;


  thead tr>th:last-of-type {
    width: 15%;
  }

  td {

    padding: 0.5rem;
    // border-bottom: 1px solid $grey;
  }
}