@import 'variables';



main:has(.landingPage) {
    background-color: $blue;
}


.landingPage {
    container-type: inline-size;
    container-name: landingPage;
    width: auto;
    margin: 1rem;

    #notice {
        text-align: center;
        color: rgb(89, 16, 16);
        margin-bottom: 0.5rem;
    }

    #landingLogo {
        text-align: center;
    }

    a {
        padding-bottom: 0.5rem;
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    label {
        margin: 0.8rem 0;
    }

    input {
        padding: 0.5rem;
        margin-bottom: 0.6rem;
        border: 1px solid #ccc;
    }

    .landingLink {
        text-align: center;
        margin: 0.5rem 0;
    }

    img {
        width: 75%;
        height: auto;
        align-self: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    justify-content: center;

    border-radius: 10px;
    background-color: $white;

}

/* If the container is larger than 500px */
@container landingPage (width < 500px) {
    .landingPage div {
        flex: 1 1 100%;
    }
}

@container landingPage (width > 501px) {
    .landingPage div {
        flex: 1 1 48%;
    }
}