.landingPageInfo {
    text-align: center;
    
}


#root:has(.landingPage) {
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
    container-name: landingPage;
}

// .cartRow{
//     display: flex;
//     flex-direction: row;
// }