@import 'variables';

.landingPageInfo {
    text-align: center;
}


#root:has(.landingPage) {
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
    container-name: landingPage;
}

.landingPage {
    #notice {
        text-align: center;
        color: rgb(89, 16, 16);
        margin-bottom: 0.5rem;
    }

    section {
        padding: 1rem;
        flex: 1;
    }


    #landingLogo {
        text-align: center;
    }

    a {
        padding-bottom: 0.5rem;
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    label {
        margin: 0.8rem 0;
    }

    input {
        padding: 0.5rem;
        margin-bottom: 0.6rem;
        border: 1px solid #ccc;
    }

    .landingLink {
        text-align: center;
        margin: 0.5rem 0;
    }

    img {
        width: 75%;
        height: auto;
    }

    display: flex;
    flex-direction: row;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: $boxShadow;
}

/* If the container is larger than 500px */
@container landingPage (width < 500px) {
    .landingPage {
        flex-direction: column;
    }
}