@import 'variables';

@media screen and (max-width: 400px) {
    #root {
        flex-direction: column;
    }

    nav {
        ul {
            flex-direction: row;
        }

        a {
            i {
                font-size: 1.8rem;
            }
        }

        #cartNotice {
            top: -1px;
            right: 20px;
        }
    }
}

#cartNotice {
    position: relative;
    color: $pinkDarker;
    height: 0px;
    width: 0px;
    font-size: 1rem;
    font-weight: bold;
}


@media screen and (min-width: 401px) {
    #root {
        flex-direction: row;
    }

    .mainHeader {
        flex: 0 0 76px;
    }

    main {
        flex: 1 1 80%;
    }



    nav {
        ul {
            flex-direction: column;
        }

        a {
            i {
                font-size: 2rem;
            }
        }

        #cartNotice {
            top: 0px;
            right: 20px;
        }
    }
}

#root {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;

}


.mainHeader {
    color: $white;
    background-color: $text-color;
}


main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: $white;
    min-height: 100vh;
}

.nav {
    position: sticky;
    top: 0;

    a {
        color: $white;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        display: flex;
        font-size: 0.8rem;
        transition: all .2s ease-in-out;

        img {
            width: 60px;
            height: 60px;
        }
    }

    a:hover {
        transform: scale(1.1);
    }

    a.blue:hover {
        color: $blue;
    }

    a.pink:hover {
        color: $pink;
    }

    a.red:hover {
        color: $red;
    }

    a.yellow:hover {
        color: $yellow;
    }

    a.orange:hover {
        color: $orange;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        li {
            padding: 1rem 0.5rem;
        }
    }
}

footer {
    margin-top: auto;
    height: 3rem;
    width: 100%;
    background-color: $text-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        color: white;
    }
}