@import 'variables';

@media screen and (max-width: 400px) {
    #root {
        flex-direction: column;
    }

    nav {
        ul {
            flex-direction: row;
        }

        a {
            i {
                font-size: 1.8rem;
            }
        }

        #cartNotice {     
            top: -1px;
            right: 20px;
          }
    }
}

#cartNotice {
    position: relative;
   
    color: $cancelDark;

    height: 0px;
    font-size: 1rem;
    font-weight: bold;
  }
  

@media screen and (min-width: 401px) {
    #root {
        flex-direction: row;
    }
    nav {
        ul {
            flex-direction: column;
        }
        a {
            i {
                font-size: 2rem;
            }
        }

        #cartNotice {     
            top: 0px;
            right: 20px;
          }
    }
}

#root {
    /* padding: 2rem; */
    display: flex;

    min-height: 100vh;
}


.mainHeader {
    // padding: 0.5rem;
    background-color: $background;
    color: white;

    box-shadow: 3px 0px 5px black;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #D3D3D3;
}

body {
    margin: 0px;
    min-height: 100vh;
    // background-color: $background;
}

.nav {
    position: sticky;
    top: 0;

    a {
        color: white;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        display: flex;
        font-size: 0.8rem;

        img {
            width: 60px;
            height: 60px;
            transition: all .2s ease-in-out;
        }

        i {
            transition: all .2s ease-in-out;
            display: block;
        }

        img:hover,
        i:hover {
            transform: scale(1.1);
        }

    }

    a:hover {
        color: $grey;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // background-color: #282c34;
        color: white;
        list-style: none;

        li {
            padding: 1rem 0.5rem;
            // background-color: #282c34;
            color: white;
            // margin: 0.5rem;

        }
    }
}

footer {
    margin-top: auto;
    height: 3rem;
    width: 100%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        color: white;
    }

}