.servicePage{

    padding: 2rem;
border: 1px solid black;
}

.servicePage img{
max-width: 300px;
}

.serviceContent{
    border: 1px solid #ccc;

}

.serviceCard{
border: 1px solid #ccc;
overflow: hidden;
}

.serviceCard img{
    width: 100%;
    height: auto;
position: relative;

}

.serviceCard h3{
    text-align: left;
    font-size: 1.4rem;
}

.serviceCard .desc{
    text-align: left;
    font-size: 1rem;
}

.serviceCard .cost{
    text-align: left;
    font-size: 1.6rem;
}

