@import 'variables';

.filters {
    padding-left: 1rem;
    display: flex;
    gap: 0.5rem;
    button {
        width: 100%;
    }
    .p-dropdown {
        width: 100%;
        border-radius: 10px;
        padding: 0.2rem;
    }

    h3 {
        font-weight: 600;
    }
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem $confirm;
}

li.p-dropdown-item.p-highlight {
    background-color: $confirm;
}

.p-dropdown-item {
    border-radius: 4px;
    padding: 0.2rem;
    margin: 0.2rem;

}

.heroSection {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        text-align: left;
        filter: blur(1px);
    }

    .heroText {
        position: absolute;
        top: 40%;
        left: 10%;
        color: white;
        text-shadow: 2px 2px 4px black;
    }

    h1 {
        font-size: 4rem;
        text-align: left;
        font-family: 'Caveat', cursive;
    }
}

.servicesList {
    container-name: servicesList;
    container-type: inline-size;
    flex: 1 70%;
    padding-right: 1rem;

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@container servicesList (width < 300px) {
    .serviceCard a {
        flex-direction: column;
    }
}

@container servicesList (width > 300px) {
    .serviceCard a {
        flex-direction: row;
    }
}

.serviceCard {
    transition: all .2s ease-in-out;

    &:hover {
        scale: 1.03;
    }

    a {
        display: flex;

        gap: 1rem;

        text-decoration: none;
        align-items: center;
        padding: 1rem;

    }

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    border-radius: 10px;
    background-color: white;
    box-shadow: $boxshadow;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    width: 100%;


    img {
        width: 30%;
        height: auto;
        position: relative;
        border-radius: 10px;
    }

    p {
        text-align: left;
    }
}


.servicePage {

    display: flex;
    flex-wrap: wrap;

    img {
        flex: 1 1 48%;
        width: 45%;
        height: auto;
        margin: 10px;
        border-radius: 4px;
        box-shadow: $boxshadow;
    }

    h2 {
        text-align: left;
    }

    div {
        padding: 10px;
        flex: 1 1 48%;
    }

    ul {
        margin-left: 1rem;
    }
}

.servicesPage {
    container-name: servicesPage;
    container-type: inline-size;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}



@container servicesPage (width < 500px) {
    .filters {
        flex: 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1rem;

        section {
            flex: 1 1 30%;

        }
    }

    .servicesList {
        padding: 0 1rem;
    }

    .servicesPage {
        flex-direction: column;
    }
}

@container servicesPage (width > 500px) {
    .filters {
        flex: 0 1 25%;
        max-width: 200px;
        flex-direction: column;

    }

    .servicesPage {
        flex-direction: row;
        flex-wrap: wrap;
    }
}