@import 'variables';

.filters {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;

    section {
        flex: 1 1 30%;
    }

    .p-dropdown {

        width: 100%;
        border-radius: 10px;
        padding: 0.5rem;
        border: none;
    }

    button {
        width: 100%;
    }

    h3 {
        font-weight: 600;
    }
}

.servicesList {
    padding: 0 1rem;
}


.servicesList {
    container-name: servicesList;
    container-type: inline-size;
    padding-right: 1rem;

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@container servicesList (width < 300px) {
    .serviceCard a {
        flex-direction: column;
    }

    .serviceCard img {
        width: 100%;

    }
}

@container servicesList (width > 300px) {
    .serviceCard {
        flex: 1 1 49%;

        img {
            width: 30%;
        }

        a {
            flex-direction: row;
        }
    }
}

.serviceCard {
    transition: all .2s ease-in-out;


    &:hover {
        scale: 1.02;
    }

    a {
        display: flex;
        gap: 1rem;
        text-decoration: none;
        align-items: center;
        padding: 1rem;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: 500;
        color: $blueDarker;
    }

    border-radius: 10px;
    background-color: $white;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }


    p {
        text-align: left;
    }

    .cost {
        font-weight: bold;
        font-size: large;
        color: $blueDarker;
    }


}

.cost {
    font-weight: bold;
    font-size: large;
    color: $blueDarker;
}