@import 'variables';

.filters {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;

    section {
        flex: 1 1 30%;
    }

    .p-dropdown {
        width: 100%;
        border-radius: 10px;
        padding: 0.2rem;
    }

    button {
        width: 100%;
    }

    h3 {
        font-weight: 600;
    }
}

.servicesList {
    padding: 0 1rem;
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem $indigo;
}

li.p-dropdown-item.p-highlight {
    background-color: $indigo;
}

.p-dropdown-item {
    border-radius: 4px;
    padding: 0.2rem;
    margin: 0.2rem;
}


.servicesList {
    container-name: servicesList;
    container-type: inline-size;
    padding-right: 1rem;

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@container servicesList (width < 300px) {
    .serviceCard a {
        flex-direction: column;
    }

    .serviceCard img {
        width: 100%;

    }
}

@container servicesList (width > 300px) {
    .serviceCard {
        flex: 1 1 49%;

        img {
            width: 30%;
        }

        a {
            flex-direction: row;
        }
    }
}

.serviceCard {
    transition: all .2s ease-in-out;


    &:hover {
        scale: 1.03;
    }

    a {
        display: flex;
        gap: 1rem;
        text-decoration: none;
        align-items: center;
        padding: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    border-radius: 10px;
    background-color: $white;
    box-shadow: $boxShadow;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    img {

        height: auto;
        position: relative;
        border-radius: 4px;
    }

    p {
        text-align: left;
    }
}


.servicePage {

    display: flex;
    flex-wrap: wrap;

    svg {
        flex: 1 1 40%;
        width: 40%;
        height: auto;
        margin: 10px;
        border-radius: 4px;

    }

    h2 {
        text-align: left;
    }

    div {
        padding: 10px;
        flex: 1 1 48%;
    }

    ul {
        margin-left: 1rem;
    }
}