@import 'variables';


.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-25 {
    width: 25
}


.redBG {
    background-color: $red;
}

.pinkBG {
    background-color: $pink;
}

.blueBG {
    background-color: $blue;
}

.indigoBG {
    background-color: $indigo;
}

.yellowBG {
    background-color: $yellow;
}

.orangeBG {
    background-color: $orange;
}

.redShadow {
    box-shadow: 4px 4px 0 0 $redDark;
}

.pinkShadow {
    box-shadow: 4px 4px 0 0 $pinkDark;
}

.blueShadow {
    box-shadow: 4px 4px 0 0 $blueDark;
}

.yellowShadow {
    box-shadow: 4px 4px 0 0 $yellowDark;
}

.orangeShadow {
    box-shadow: 4px 4px 0 0 $orangeDark;
}

.text1-4 {
    font-size: 1.4rem;
}

.noliststyle {
    list-style: none;
}

.text1-2 {
    font-size: 1.2rem;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.gap-05 {
    gap: 0.5rem;
}

.align-stretch {
    align-items: stretch;
}

.flex {
    display: flex;

    .child-50 {
        flex: 1 1 48%;
    }

    .child-25 {
        flex: 1 1 23%;
    }

    .child-30 {
        flex: 1 1 30%;
    }

    .child-75 {
        flex: 1 1 73%;
    }

    .child-100 {
        flex: 1 1 98%;
    }

    label,
    input {
        width: 100%;
    }

    h3 {
        width: 100%;
    }
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;

}

.pt1 {
    padding-top: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ml2 {
    margin-left: 2rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mt1 {
    margin-top: 1rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: -2rem;
}