
*{
  margin: 0;
  padding:0;
  font:inherit;
}

body {
  margin: 0px;
  min-height: 100vh;
}


#root{
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
  
  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;

}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
  background-color: #282c34;
  color: white;
list-style: none;

}

nav ul li{
  padding: 1rem;
  background-color: #282c34;
  color: white;
  margin: 0.5rem;
}

nav a{
  color: white;
  text-decoration: none;

}

footer{
  margin-top: auto;
}

.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-parent {
  display: flex;
  flex-direction: row;
}


ul.flex-parent {
list-style: none;
}

ul.flex-parent li{
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  margin: 0.5rem;
  }

.flex-child{
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

/* li.flex-child{

} */